.container {
    max-width: 1470px;
    margin: 0;
    padding: 20px;
    color: rgba(112, 112, 112, 0.85);
}

.userList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.userCard {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.avatarSection {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;

}

.avatar {
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
}

.userDetails {
    margin-left: 25px;
}

.username {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #767676;
}

.icon {
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #fafafa;
    ;
}

.actionIcon {
    cursor: pointer;
    font-size: 20px;
}

.heartIcon {
    color: #ccc;
    transition: color 0.3s ease;
}

.fill {
    color: red !important;
}

.trashIcon {
    color: #ff6257;
}

.editIcon {
    color: #2196f3;
    border-right: 2px solid #dad9d9;
    border-left: 2px solid #dad9d9;
    padding: 0 50px;
}